@import 'tailwindcss';

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

/* Dark mode colors. */
:root {
  --border: hsla(var(--border-neutral), 0.4);
  --backdrop-color: #1F2D24cc;
  --sl-color-accent: #4DB779;
  --sl-color-accent-high: #82CFA1;
  --sl-color-accent-low: #013820;
  --sl-color-black: #1F2D24;
  --sl-color-gray-1: #EEF4EF;
  --sl-color-gray-2: #D8E8DA;
  --sl-color-gray-3: #88958D;
  --sl-color-gray-4: #5D6B63;
  --sl-color-gray-5: #3D4F3E;
  --sl-color-gray-6: #1F2D24;
  --sl-color-white: #F8FBF8;
  --list-marker-color: #B9D77A;
  --border-neutral: 140, 25%, 25%;
}

/* Light mode colors. */
:root[data-theme='light'] {
  --border: hsla(var(--border-green), 0.4);
  --backdrop-color: #F8FBF899;
  --sl-color-accent: #016D3B;
  --sl-color-accent-high: #013820;
  --sl-color-accent-low: #82CFA1;
  --sl-color-black: #F8FBF8;
  --sl-color-gray-1: #1F2D24;
  --sl-color-gray-2: #2E3A31;
  --sl-color-gray-3: #5D6B63;
  --sl-color-gray-4: #88958D;
  --sl-color-gray-5: #BCCEBF;
  --sl-color-gray-6: #D8E8DA;
  --sl-color-gray-7: #EEF4EF;
  --sl-color-white: #1F2D24;
  --list-marker-color: #2F8F63;
  --border-green: 145, 45%, 77%;
}

header {
  border: none !important;
  padding: 0 !important;
}

header.header {
  background-color: transparent !important;
  height: 4.5rem !important;
  margin-inline: auto !important;
  padding-block: 0 !important;
  padding-inline: 2rem !important;
}

header > div:first-of-type {
  backdrop-filter: blur(12px) !important;
  background-color: var(--backdrop-color) !important;
  border: 1px var(--border) solid;
  border-radius: 36px;
  height: 100% !important;
  margin-inline: auto !important;
  margin-top: 1rem !important;
  max-width: 1536px;
  padding-inline: 2rem !important;
  width: auto !important;
}

#starlight__sidebar {
  border-radius: 1rem;
  margin-top: 2rem !important;
}

.content-panel:first-of-type {
  margin-top: 2rem !important;
}

.right-sidebar {
  top: 2rem !important;
}

#starlight__on-this-page--mobile {
  border: none !important;
}

mobile-starlight-toc > nav {
  border: none !important;
  border-radius: 1rem;
  margin-top: 2rem !important;
}

select {
  background-image: none;
  box-shadow: none;
}

select:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

article.card {
  border-radius: 0.5rem;
}

.pagination-links a:hover {
  border-color: var(--sl-color-accent);
}

.sl-link-card:hover {
  border-color: var(--sl-color-gray-4) !important;
}

.starlight-aside--tip {
  background: linear-gradient(45deg, #ff512f, #f09819);
  border: none;
  border-radius: 0.5rem;
  color: #66350c;
}

.starlight-aside--note {
  background: linear-gradient(45deg, #00b4db, #2193b0);
  border: none;
  border-radius: 0.5rem;
  color: #004558;
}

.starlight-aside__icon {
  transform: scale(0.8);
}

.starlight-aside--tip .starlight-aside__title {
  color: #ffe0c2;
}

.starlight-aside--note .starlight-aside__title {
  color: #bbf3fef7;
}

.sl-markdown-content ul:not(:where(.not-content *)) {
  list-style-type: none;
  padding-left: 0;
}

.sl-markdown-content ul:not(:where(.not-content *)) > li {
  padding-left: 1.75rem;
  position: relative;
}

.sl-markdown-content li:not(:where(.not-content *)) > ul,
.sl-markdown-content li + li:not(:where(.not-content *)) {
  margin-top: 0.625rem;
}

.sl-markdown-content ul:not(:where(.not-content *)) > li:before {
  background: var(--list-marker-color);
  border-radius: 1px;
  content: '';
  height: 2px;
  left: 2px;
  position: absolute;
  top: 13px;
  width: 0.875rem;
}

@media screen and (max-width: 800px) {
  mobile-starlight-toc > nav {
    border-radius: 1rem;
    margin-top: 3rem !important;
  }

  header > div:first-of-type {
    padding-inline-end: 5rem !important;
  }

  starlight-menu-button > button {
    right: 3rem !important;
    top: 2.2rem !important;
  }
}

@media screen and (max-width: 1280px) {
  header.header {
    padding-inline: 1.5rem !important;
  }
}
